//@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');


$font-family: 'Cairo', sans-serif;
$bar-color: hsl(250, 21%, 27%);
$hover-color :rgb(216, 160, 209);
%border{
    border-style: solid;
    border-color: orange;
    border-width: 1px; 
}


