@import "../cairoFont/cauro.css";
:root {
  --main-color: red;
}

body,
html {
  font-family: "Cairo", sans-serif;
  width: 100%;
  height: 100%;
}

.landing-page {
  width: 100%;
  height: 100%;
  background: url(../bg-1.jpg) center;
  background-size: cover;
  color: white;
  position: relative;
  text-align: center;
  height: 100%;
}
.landing-page .sec-head {
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}
.landing-page .cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.landing-page .header-area {
  z-index: 2;
  display: flex;
  position: relative;
}
.landing-page .header-area .logo {
  margin-left: 5px;
}
.landing-page .header-area ul {
  display: flex;
  list-style: none;
  margin: auto 10px auto auto;
}
.landing-page .header-area ul li {
  margin: 5px;
}
.landing-page .header-area ul li a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.landing-page .header-area ul li a:hover {
  color: var(--main-color);
}
.landing-page .body-area {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 2;
}

.skill-page .cardHolder {
  display: flex;
  line-height: 1.5;
}
.skill-page .cardHolder .card {
  border: solid 0.1px gray;
  position: relative;
  color: white;
  width: 100%;
  background: url("../../src/web.jpg") center;
  background-size: cover;
}
.skill-page .cardHolder .card:last-child {
  background: url("../../src/bot2.jpg") center;
}
.skill-page .cardHolder .card .cover {
  background-color: black;
  opacity: 0.67;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  top: 0;
  right: 0;
}
.skill-page .cardHolder .card .content {
  position: relative;
  z-index: 2;
}

.pro-page {
  background-color: gray;
}
.pro-page .nav .type-pro {
  display: flex;
  justify-content: center;
}
.pro-page .nav .type-pro .card {
  background-color: white;
  padding: 10px;
}
.pro-page .nav .type-pro .card.active {
  background: orange;
}
.pro-page .img-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pro-page .img-list .img-holder {
  cursor: pointer;
  position: relative;
  height: 200px;
  width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white solid 3px;
  margin: 3px;
  border-radius: 15px;
}
.pro-page .img-list .img-holder .cover {
  display: none;
  color: white;
  background-color: black;
  opacity: 0.67;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  top: 0;
  right: 0;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.pro-page .img-list .img-holder .cover-p {
  background-color: transparent;
  opacity: 1;
}
.pro-page .img-list .img-holder img {
  height: 200px;
}
.pro-page .img-list .img-holder:hover .cover {
  display: flex;
}
.pro-page .card-col {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pro-page .card-col .card {
  width: calc(33% - 20px);
}

.time-line {
  background: #eee;
  position: relative;
  padding: 50px 0;
}
.time-line::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin: -1px;
  top: 0;
}
.time-line .content .child-contener {
  position: relative;
  overflow: hidden;
  margin-top: -2px;
}
.time-line .content .child-contener .year {
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: var(--main-color);
  width: 50px;
  margin: 5px auto;
  border-radius: 4px;
  color: white;
  padding: 2px;
  font-weight: bold;
}
.time-line .content .left,
.time-line .content .right {
  width: calc(50% - 40px);
  text-align: center;
  background: azure;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 15px;
  padding: 5px;
}
.time-line .content .left {
  float: left;
}
.time-line .content .right {
  float: right;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: white;
  transition: 0.3s;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
