header {
  background-color: $sec-color;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  h1 {
    font-size: 2.6em;
    color: #d9dee4;
    margin: 0px 6px;
    #bu-nav {
      display: none;
    }
  }
  nav {
    display: flex;
    ul {
      margin: auto 0px;
      display: flex;
      flex-direction: row;
      list-style: none;
      li {
        margin: 0px 10px;
        padding: 6px;
        a {
          color: #c6c7ca;
          font-size: 1.5em;
        }

        a:hover {
          color: rgb(255, 255, 255);
        }
      }
    }
  }

  #bu {
    display: flex;
    cursor: pointer;
    margin: auto 0px;
    padding: 8px;
    color: #233a5b;
    background-color: #eaedf1;
    border-radius: 5px;
    font-size: 1.14em;
    i {
      margin: 4px;
    }
    span {
      margin: auto;
    }
  }
}
article {
  #tap1 {
    text-align: center;
    display: flex;
    margin-top: 10px;

    #left {
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: 2em;
      > div {
        margin: auto 30px;
      }
      #follow {
        h3 {
          text-align: center;
        }
        ul {
          margin: 30px 0 0 0;
          display: flex;
          list-style: none;
          justify-content: space-around;
          a {
            color: black;
            font-size: 3em;
          }
          a:hover {
            color: rgb(35, 89, 124);
          }
        }
      }
    }
    #right {
      width: 50%;
      text-align: right;
      display: flex;
      flex-direction: column;
      img {
        margin: auto 0;
        width: 100%;
      }
    }
  }

  #tap2 {
    > h2 {
      text-align: center;
      font-size: 2em;
    }

    #card-holder {
      display: flex;
      > * {
        width: 50%;
        text-align: center;
        border: 4px solid;
        border-image-slice: 0.5;
        border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
        padding: 6px;
        margin: 5px;
        background-size: cover;
        background-origin: border-box;
        background-repeat: no-repeat;
        h4 {
          font-size: 5vh;
          color: #000000;
        }
        p {
          font-size: 3vh;
          color: #000000;
        }
      }
      #card2 {
        border-image-source: linear-gradient(to right, #743ad5, #d53a9d);
      }
    }
  }

  #tap3 {
    display: flex;
    flex-direction: column;
    h1 {
      text-align: center;
      font-size: 2em;
    }
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: auto;
      li {
        font-size: 2vw;
        margin: 10px;
        color: 1d3557;
      }
    }

    $sizes: "1" red, "2" rgba(0, 0, 255, 0.815), "3" orange, "4" rgb(255, 0, 0),
      "5" rgb(58, 58, 173);
    @each $index, $color in $sizes {
      li:nth-of-type(#{$index}) a {
        color: $color;
      }
    }
  }

  @import "path";

  #tap4 {
    margin-bottom: 30px;
    #tw-h {
      font-size: 2em;
      text-align: center;
    }
    #twitter-list {
      display: flex;
      flex-direction: row;
      > div {
        .tw-1 {
          display: block;
          color: #000000;
          background-position: bottom;
          background-size: contain;
          border-radius: 4px;
          margin: 3px auto;
          padding: 5px;

          > div {
            display: flex;
            justify-content: space-between;
            padding-bottom: 5px;
            h3 {
              margin-left: auto;
              font-size: 2em;
            }
            img {
              width: 40px;
              height: 40px;
              margin: auto auto auto 0;
              border-radius: 50%;
            }
          }
          p {
            text-align: center;
          }
        }
      }
    }
    #out-tw {
      width: 80%;
      display: flex;
      margin: 20px auto 0;
      h1 {
        font-size: 1.5em;
        margin: auto;
        text-align: center;
      }
      i {
        margin: auto 10px;
      }
    }
  }

  #tap5 {
    *:not(i) {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    background: $sec-color;
    > div {
      width: 100%;
    }
    iframe {
      margin: auto;
      width: 90%;
      height: 90%;
      border-radius: 10px;
    }
  }
}
footer {
  border-top: white 2px solid;
  text-align: center;
  background-color: $sec-color;
  h3 {
    color: white;
    font-size: 1.5em;
  }
}
