h1 {
  font-size: 2.6em;
  color: #d9dee4;
  margin: 0px 6px;
}
header {
  background-color: #1d3557;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  nav {
    display: flex;
    ul {
      margin: auto 0px;
      display: flex;
      flex-direction: row;
      list-style: none;
      li {
        margin: 0px 10px;
        padding: 6px;
        a {
          color: #c6c7ca;
          font-size: 1.5em;
        }
      }
    }
  }
}
#tap1 {
  text-align: center;
  display: flex;
  margin-top: 10px;

  #left {
    width: 50%;
    display: flex;
    text-align: left;
    font-size: 2em;
    > div {
      margin: auto 20px;
    }
  }

  #right {
    width: 50%;
    text-align: right;
    display: flex;
    img {
      margin: auto 0;
      width: 100%;
      border-radius: 50% 0 0 50%;
    }
  }
}

#bu {
  margin: auto 0px;
  padding: 8px;
  color: #233a5b;
  background-color: #eaedf1;
  border-radius: 5px;
  font-size: 1.14em;
  i {
    margin: 4px;
  }
}

#tap2 {
  > h2 {
    text-align: center;
    font-size: 2em;
  }

  #card-holder {
    display: flex;
    > * {
      width: 50%;
      text-align: center;
      border: #453058 1px solid;
      padding: 6px;
      margin: 5px;
      border-radius: 10px;
      background: url("../res/bac.jpg") center;
      background-size: cover;
      background-origin: border-box;
      background-repeat: no-repeat;
      h4 {
        font-size: 2em;
        color: #ffffff;
      }
      p {
        font-size: 20px;
        color: #ffffff;
      }
    }
    #card2 {
      background-image: url("https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGNvZGV8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60");
      background-origin: border-box;
    }
  }
}

#tap3 {
  display: flex;
  flex-direction: column;
  h3 {
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
    li{
      font-size: calc(100% /32% );
      margin: 10px;
      color: 1d3557;
    }
  }
}

/*
#test {
  .bar-holder {
    width: 95%;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    margin: 0 auto;
  }

  .bar-1 {
    width: 40%;
    background-color: rgb(226, 226, 69);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    margin-top: 2px;
    font-weight: 400;
  }
}*/
