$head-color: #1d3557;

header {
  background-color: $head-color;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  h1 {
    font-size: 2.6em;
    color: #d9dee4;
    margin: 0px 6px;
    #bu-nav {
      display: none;
    }
  }
  nav {
    display: flex;
    ul {
      margin: auto 0px;
      display: flex;
      flex-direction: row;
      list-style: none;
      li {
        margin: 0px 10px;
        padding: 6px;
        a {
          color: #c6c7ca;
          font-size: 1.5em;
        }

        a:hover {
          color: rgb(255, 255, 255);
        }
      }
    }
  }

  #bu {
    display: flex;
    cursor: pointer;
    margin: auto 0px;
    padding: 8px;
    color: #233a5b;
    background-color: #eaedf1;
    border-radius: 5px;
    font-size: 1.14em;
    i {
      margin: 4px;
    }
    span {
      margin: auto;
    }
  }
}
article {
  #tap1 {
    text-align: center;
    display: flex;
    margin-top: 10px;

    #left {
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: 2em;
      > div {
        margin: auto 30px;
      }
      #follow {
        h3 {
          text-align: center;
        }
        ul {
          margin: 30px 0 0 0;
          display: flex;
          list-style: none;
          justify-content: space-around;
          a {
            color: black;
            font-size: 3em;
          }
          a:hover {
            color: rgb(35, 89, 124);
          }
        }
      }
    }
    #right {
      width: 50%;
      text-align: right;
      display: flex;
      flex-direction: column;
      img {
        margin: auto 0;
        width: 100%;
      }
    }
  }

  #tap2 {
    > h2 {
      text-align: center;
      font-size: 2em;
    }

    #card-holder {
      display: flex;
      > * {
        width: 50%;
        text-align: center;
        border: #453058 1px solid;
        padding: 6px;
        margin: 5px;
        border-radius: 10px;
        background: url("../res/bac.jpg") center;
        background-size: cover;
        background-origin: border-box;
        background-repeat: no-repeat;
        h4 {
          font-size: 5vh;
          color: #ffffff;
        }
        p {
          font-size: 3vh;
          color: #ffffff;
        }
      }
      #card2 {
        background-image: url("../res/bac2.jpg");
        background-origin: border-box;
        background-position: top;
      }
    }
  }

  #tap3 {
    display: flex;
    flex-direction: column;
    h1 {
      text-align: center;
      font-size: 2em;
    }
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: auto;
      li {
        font-size: 2vw;
        margin: 10px;
        color: 1d3557;
      }
    }

    $sizes: "1" red, "2" rgba(0, 0, 255, 0.815), "3" orange, "4" rgb(255, 0, 0),
      "5" rgb(58, 58, 173);
    @each $index, $color in $sizes {
      li:nth-of-type(#{$index}) a {
        color: $color;
      }
    }
  }

  /*
#test {
  .bar-holder {
    width: 95%;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    margin: 0 auto;
  }

  .bar-1 {
    width: 40%;
    background-color: rgb(226, 226, 69);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    margin-top: 2px;
    font-weight: 400;
  }
}*/
}
footer {
  text-align: center;
  background-color: $head-color;
  h3 {
    color: white;
    font-size: 1.5em;
    span::before {
      content: " : ";
    }
  }
}
#tw-h {
  font-size: 2em;
  text-align: center;
}
#twitter-list {
  display: flex;
  flex-direction: row;
  > div {
    .tw-1 {
      display: block;
      color: #000000;
      background-position: bottom;
      background-size: contain;
      border-radius: 4px;
      margin: 3px auto;
      padding: 5px;

      > div {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        h3 {
          margin-left: auto;
          font-size: 2em;
        }
        img {
          width: 40px;
          height: 40px;
          margin: auto auto auto 0;
          border-radius: 50%;
        }
      }
      p {
        text-align: center;
      }
    }
  }
}
#out-tw {
  width: 70%;
  display: flex;
  margin: 0 auto;
  p {
    width: 100%;
    text-align: center;
  }
  i {
    margin: auto 0;
  }
}
