@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Cairo', sans-serif;

}
html,
body {
  height: 100%;
  width: 100%;
  * {
    padding: 0px;
    margin: 0px;
  }
  overflow-x: hidden;
  overflow-y: auto;
}
a{
  text-decoration: none;
}
