@media (max-width: 965px) {
  article {
    #tap2 {
      margin: 0;
      padding: 0px;

      #card-holder {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        width: 100%;
        margin: 0;
        padding: 0px;
        text-align: center;

        > * {
          margin: 10px auto;
          width: calc(100% - 42px);
          font-size: 20px;
          p {
            padding: 5px 0;
          }
        }
      }
    }
    .spas {
      width: 150%;
    }
  }
}
@media (max-width: 716px) {
  * {
    font-size: 1em;
  }
  header {
    flex-direction: column;
    h1 {
      text-align: center;
      display: flex;
      span {
        margin: auto;
      }
      #bu-nav {
        display: none;
        cursor: pointer;
        margin: auto 0;
        display: block;
      }
    }
    nav {
      flex-direction: column;
      ul {
        display: none;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        li {
          width: calc(100% -20px);
          text-align: center;
        }
      }
    }
    #bu {
      margin-bottom: 10px;
      display: none;
    }
  }

  article {
    #tap1 {
      text-align: center;
      flex-direction: column-reverse;
      #right {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        img {
          margin: auto;
          width: 80%;
        }
      }
      #left {
        width: 100%;
        padding: 0px 0 0 30px;
        padding-right: 0px;
        text-align: left;
        h2 {
          width: auto;
          font-size: 0.7em;
        }
      }
    }
    .spas {
      width: 200%;
    }
    #tap3 {
      ul {
        overflow: auto;
      }
    }

    #twitter-list {
      padding: 3px 0;
      width: 100%;
      .tw-1 {
        border-radius: 8px;
        width: 100%;
        margin: 0px;
        margin-bottom: 5px;
        padding: 4px 10px 10px 10px;
        p {
          height: auto;
          width: 100%;
        }
      }
    }
    #out-tw {
      width: 100%;
      display: flex;
      margin: 0 auto;
      i {
        margin: auto 0;
      }
    }

    #tap5 {
      flex-direction: column;
      #map {
        height: 320px;
        width: 70%;
        margin: auto;
        iframe {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 894px) and (min-width: 716px) {
  article #tap1 {
    font-size: 10px;
  }
}
@media (max-width: 495px) {
  article #tap2 #card-holder > * p {
    font-size: 15px;
  }
}
