@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Cairo', sans-serif;
  font-size: 1em;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-property: inherit;
  transition-property: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

html *,
body * {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

header {
  background-color: #1d3557;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
}

header h1 {
  font-size: 2.6em;
  color: #d9dee4;
  margin: 0px 6px;
}

header h1 #bu-nav {
  display: none;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul {
  margin: auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

header nav ul li {
  margin: 0px 10px;
  padding: 6px;
}

header nav ul li a {
  color: #c6c7ca;
  font-size: 1.5em;
}

header nav ul li a:hover {
  color: white;
}

header #bu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin: auto 0px;
  padding: 8px;
  color: #233a5b;
  background-color: #eaedf1;
  border-radius: 5px;
  font-size: 1.14em;
}

header #bu i {
  margin: 4px;
}

header #bu span {
  margin: auto;
}

article {
  /*
#test {
  .bar-holder {
    width: 95%;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    margin: 0 auto;
  }

  .bar-1 {
    width: 40%;
    background-color: rgb(226, 226, 69);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    margin-top: 2px;
    font-weight: 400;
  }
}*/
}

article #tap1 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

article #tap1 #left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-size: 2em;
}

article #tap1 #left > div {
  margin: auto 30px;
}

article #tap1 #left #follow h3 {
  text-align: center;
}

article #tap1 #left #follow ul {
  margin: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

article #tap1 #left #follow ul a {
  color: black;
  font-size: 3em;
}

article #tap1 #left #follow ul a:hover {
  color: #23597c;
}

article #tap1 #right {
  width: 50%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article #tap1 #right img {
  margin: auto 0;
  width: 100%;
}

article #tap2 > h2 {
  text-align: center;
  font-size: 2em;
}

article #tap2 #card-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article #tap2 #card-holder > * {
  width: 50%;
  text-align: center;
  border: #453058 1px solid;
  padding: 6px;
  margin: 5px;
  border-radius: 10px;
  background: url("../res/bac.jpg") center;
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
}

article #tap2 #card-holder > * h4 {
  font-size: 5vh;
  color: #ffffff;
}

article #tap2 #card-holder > * p {
  font-size: 3vh;
  color: #ffffff;
}

article #tap2 #card-holder #card2 {
  background-image: url("../res/bac2.jpg");
  background-origin: border-box;
  background-position: top;
}

article #tap3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article #tap3 h1 {
  text-align: center;
  font-size: 2em;
}

article #tap3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: auto;
}

article #tap3 ul li {
  font-size: 2vw;
  margin: 10px;
  color: 1d3557;
}

article #tap3 li:nth-of-type(1) a {
  color: red;
}

article #tap3 li:nth-of-type(2) a {
  color: rgba(0, 0, 255, 0.815);
}

article #tap3 li:nth-of-type(3) a {
  color: orange;
}

article #tap3 li:nth-of-type(4) a {
  color: red;
}

article #tap3 li:nth-of-type(5) a {
  color: #3a3aad;
}

footer {
  text-align: center;
  background-color: #1d3557;
}

footer h3 {
  color: white;
  font-size: 1.5em;
}

footer h3 span::before {
  content: " : ";
}

#tw-h {
  font-size: 2em;
  text-align: center;
}

#twitter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#twitter-list > div .tw-1 {
  display: block;
  color: #000000;
  background-position: bottom;
  background-size: contain;
  border-radius: 4px;
  margin: 3px auto;
  padding: 5px;
}

#twitter-list > div .tw-1 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
}

#twitter-list > div .tw-1 > div h3 {
  margin-left: auto;
  font-size: 2em;
}

#twitter-list > div .tw-1 > div img {
  width: 40px;
  height: 40px;
  margin: auto auto auto 0;
  border-radius: 50%;
}

#twitter-list > div .tw-1 p {
  text-align: center;
}

#out-tw {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

#out-tw p {
  width: 100%;
  text-align: center;
}

#out-tw i {
  margin: auto 0;
}

@media (max-width: 716px) {
  * {
    font-size: 1em;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header h1 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header h1 span {
    margin: auto;
  }
  header h1 #bu-nav {
    display: none;
    cursor: pointer;
    margin: auto 0;
    display: block;
  }
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  header nav ul li {
    width: calc(100% -20px);
    text-align: center;
  }
  header #bu {
    margin-bottom: 10px;
    display: none;
  }
  article #tap1 {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  article #tap1 #right {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  article #tap1 #right img {
    margin: auto;
    width: 80%;
  }
  article #tap1 #left {
    width: 100%;
    padding: 0px;
    padding-right: 0px;
    text-align: left;
  }
  article #tap1 #left h2 {
    width: calc(100% - 30);
    font-size: 0.7em;
  }
  article #tap1 #left #follow ul {
    margin: 30px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  article #tap1 #left #follow ul a {
    color: black;
    font-size: 2.5em;
  }
  article #tap1 #left #follow ul a:hover {
    color: #23597c;
  }
  article #tap3 ul {
    overflow: auto;
  }
  #twitter-list {
    padding: 3px 0;
    width: 100%;
  }
  #twitter-list .tw-1 {
    border-radius: 8px;
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
    padding: 4px 10px 10px 10px;
  }
  #twitter-list .tw-1 p {
    height: auto;
    width: 100%;
  }
  #out-tw {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  #out-tw i {
    margin: auto 0;
  }
}

@media (max-width: 965px) {
  article #tap2 {
    margin: 0;
    padding: 0px;
  }
  article #tap2 #card-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin: 0;
    padding: 0px;
    text-align: center;
  }
  article #tap2 #card-holder > * {
    margin: 10px auto;
    width: calc(100% - 42px);
    font-size: 20px;
  }
  article #tap2 #card-holder > * p {
    padding: 5px 0;
  }
}

@media (max-width: 894px) and (min-width: 716px) {
  article #tap1 {
    font-size: 10px;
  }
}

@media (max-width: 495px) {
  article #tap2 #card-holder > * p {
    font-size: 15px;
  }
}

.small {
  font-size: small;
}

.text-center {
  text-align: center;
}

.carousel-item-width {
  width: 100%;
}

.mx-auto {
  margin: auto;
}
/*# sourceMappingURL=style.css.map */