.myCard {
  display: flex;
  padding: 5px;

  img {
    height: 150px;
    border-radius: 50%;
  }

  .p-holder {
    position: relative;
    margin: auto;
    padding-right: 19px;
  }

  p {
    background-color: var(--sec-color);
    margin: auto;
    padding: 10px;
    color: white;
    font-size: 25px;
    line-height: 1.4;

    &:before {
      content: "";
      border: solid 10px ;
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      border-color: transparent transparent transparent  var(--sec-color);
    }
  }
}