.card{
    display: flex;
    background-color: var(--sec-color);
    img{
        height: 150px;
        border-radius: 50%;
    }
    p{
        margin: auto;
        padding: 10px;
        color: white;
        font-size: 25px;
        line-height: 1.4;
    }
}