& {
  width: 100%;
  height: 100%;
  background: url(../bg-1.jpg) center;
  background-size: cover;
  color: white;
  position: relative;
  text-align: center;
  height: 100%;
}
.sec-head {
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}
.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.header-area {
  z-index: 2;
  display: flex;
  position: relative;
  .logo {
    margin-left: 5px;
  }
  ul {
    display: flex; list-style: none;
    margin: auto 10px auto auto;
    li {
      margin: 5px;
      a {
        cursor: pointer;
        color: white;
        text-decoration: none;
        &:hover {
          color: var(--main-color);
        }
      }
    }
  }
}
.body-area {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 2;
}
