&{
    margin-bottom: 10px;
    margin-top: 10px;
    .nav{
        .type-pro{
            display: flex;
            justify-content: center;
            .card{
                background-color: white;
                padding: 10px;
                cursor: pointer;
                &.active{
                    background: var(--sec-color);
                    color: white;
                }
            }
        }
    }
    @import "../Component/progect";
}