&{
    margin-bottom: 10px;
    margin-top: 10px;
    .nav{
        .type-pro{
            display: flex;
            justify-content: center;
            .card{
                background-color: white;
                padding: 10px;
                cursor: pointer;
                &.active{
                    background: var(--sec-color);
                    color: white;
                }
            }
        }
    }
    @import "../Component/progect";
    .card-col{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .card{
            width: calc(33% - 20px);
        }
    }
}