.cardHolder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  text-align: center;
  width: 250px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: var(--bs-light);
  color: black;
  transition: .6s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  &:hover {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
  }

  img {
    transform: translateY(15px);
    width: 200px;
    height: 120px;
  }

  h3 {
    font-size: 25px;
    transform: translatey(10px);
  }

  p {
    text-align: center;
    width: 220px;
    margin: auto;
    font-size: large;
    font-weight: bold;
  }
}
