& {
  background: #eee;
  position: relative;
  padding: 50px 0;
}
&::before {
  content: "";
  width: 2px;
  height: 99%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin: -1px;
}

.content {
  .child-contener {
    position: relative;
    overflow: hidden;
    margin-top: -2px;
    p{
      margin-left: 10px;
      margin-right: 10px;
      font-weight: bold;
      font-size: 1.25em;
    }

    .year {
      text-align: center;
      position: relative;
      z-index: 2;
      background-color: var(--main-color);
      width: 50px;
      margin: 5px auto;
      border-radius: 4px;
      color: white;
      padding: 2px;
      font-weight: bold;
    }

    .left,
    .right {
      width: calc(50% - 40px);
      text-align: center;
      background: azure;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
      transition: 0.3s;
      border-radius: 15px;
      margin: 15px;
      padding: 5px;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }
}
