.img-list {
  z-index: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--sec-color);
  border-radius: 10px;
  padding: 15px;
  .img-holder {
    cursor: pointer;
    position: relative;
    height: 200px;
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 3px;
    margin: 3px;
    border-radius: 15px;
    
    .cover {
      display: none;
      color: white;
      background-color: black;
      opacity: 0.9;
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 4px;
      top: 0;
      right: 0;
      justify-items: center;
      align-items: center;
      text-align: center;
    }
    .cover-p{
      background-color: transparent;
      opacity: 1;
    }
    img {
      height: 210px;
    }
    &:hover {
      .cover{
        display: flex;
      }
    }
  }
}
