@media (max-width: 860px) {
  section {
    h2 {
      text-align: center;
    }
  }

  .landing-page {
    background-position: left;
    .header-area {
      flex-direction: column;
    }

    h1 {
      width: 100vw;
      margin: 0;
    }

    .mySocial {
      margin: auto;
    }
  }

  .about-page {
    .myCard {
      flex-direction: column-reverse;

      .p-holder {
        padding: 19px 0 0;
      }

      p {
        &:before {
          top: 0;
          right: 50%;
          transform: translateX(50%);
          border-color: transparent transparent var(--sec-color);
        }
      }
    }
  }

  .pro-page {
    .img-list {
      justify-content: center;
    }
  }

  .time-line {
    .content .child-contener {
      .right,
      .left {
        float: left;
        width: calc(100% - 40px);
      }
    }
  }
  .feedBack-page {
    .container {
      flex-direction: column;
      width: 100%;
    }
  }
}
